.my-progress {
  background-color: #cfdeed !important;
}

.my-image{
  max-width: 100%;
  height: auto
}

.my-list-item {
  padding: 0;
  font-size: 90%;
}

.my-logo-text {
  color: #6c757d;
}

.brand-color {
  color:#636363;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 70%;
}
