.card {
  width: 100%;
}

.my-progress {
  background-color: #cfdeed !important;
}

.my-input-number {
  width: 50px;
}

.option-img {
  float: left;
  max-width: 100%;
}

.my-option {
  width: 350px;
  border: 1px solid black;
}

.my-list-item {
  padding: 0;
  font-size: 80%;
}

.list-group-item {
  /*padding: 0;*/
}

.my-logo-text {
  /*border: 1px black solid*/
  color: #6c757d;
}
